@import '../../assets/styles/vars';

.image-card {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;

  &:hover {
    .image-card {
      &__close {
        opacity: 1;
      }

      &__controls {
        transform: translateY(0);
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    opacity: 0;
    transition: 0.2s opacity ease;
    cursor: pointer;

    &:hover {
      svg {
        path {
          fill: $red;
        }
      }
    }

    svg {
      width: 16px;
      height: 16px;

      path {
        fill: $white;
        transition: 0.2s fill ease;
      }
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    transform: translateY(32px);
    padding: 0 1rem;
    overflow: hidden;
    color: $white;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.2s transform ease;
    box-sizing: border-box;
  }
}
